[Unit]
Description=Postgresql Notification Service
Requires=uwsgi.service

[Service]
Type=simple
User=www-data
Group=www-data
EnvironmentFile=/etc/conf.d/pg_notify
WorkingDirectory=/opt/telegram-parser-api
ExecStart=/bin/sh -c '/opt/telegram-parser-api/venv/bin/python3 -m pg_notify'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target